/*css class body page */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
direction: rtl;
font-family: 'Cairo', sans-serif;
}

/*css slider animation with responsive */

header .carousel-inner .item {
height: 100vh;
}

.banner {
-webkit-background-size: cover;
background-size: cover;
background-position: center center;
background-repeat: no-repeat;
height: 100vh;
}
.carousel-caption {
margin-bottom: 10%;
}
.carousel-caption h2 {
font-size: 70px;
font-weight: bold;
}
.carousel-caption h2 span {
color: #EDBB00;
}
.carousel-caption a {
background: #EDBB00;
padding: 15px 35px;
display: inline-block;
margin-top: 15px;
color: #fff;
border-radius: 25px;
}
.carousel-control.right {
background-image: none;
}
.carousel-control.left {
background-image: none;
}
.carousel-indicators .active {
background-color: #EDBB00;
border-color: #EDBB00;
}
/*responsive css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
.carousel-caption {
padding-bottom: 350px;
}
.carousel-caption h2 {
font-size: 50px;
}
}
@media only screen and (max-width: 767px) {

.carousel-caption {
padding-bottom: 120px;
}
.carousel-caption h2 {
font-size: 25px;
}
.carousel-caption h3 {
font-size: 18px;
}
.carousel-caption a {
padding: 10px 25px;
}
}

/*end class slider */


/* about us */
.about-us{
padding-top: 40px;
padding-bottom: 40px;
}
.about-us .item{

}
.about-us img{
width: 50%;
animation: zoom 3s linear infinite;

}

/* START SERVICES */
.our-services {
padding-top: 40px;
padding-bottom: 40px;
}
.our-services .body-service{
    background-color: rgb(248, 247, 247);
    padding: 20px;
    border-radius: 4px;
}
.our-services .body-service img{
   width: 25%;
   margin-top: 10px;
   margin-bottom: 10px;
}
.our-services .body-service:hover{
    background-color: rgb(250, 250, 250);
}
.our-courses{
    padding-top: 40px;
padding-bottom: 40px;
}

.our-courses .body-course{
    background-color: rgb(248, 247, 247);
    padding: 20px;
    border-radius: 4px;
}
.our-courses .body-course img{
   width: 25%;
   margin-top: 10px;
   margin-bottom: 10px;
}
.our-courses .body-course:hover{
    background-color: rgb(250, 250, 250);
}

/* END SERVICES  */

/* start statistics */
.our-statistics{
padding-top: 40px;
padding-bottom: 40px;
}
.our-statistics .item{
background-color: #eee;
border-radius: 8px;
padding: 10px;
}
.our-statistics .item img {
width: 25%;
}
/* end statistics */
/* class footer*/
footer{
padding-top: 40px;
padding-bottom: 40px;
background-color: #414042;
color: #fff;
}
footer .footer-icon li {
margin: 5px;
display: inline-block;
}
footer .tags ol{
margin: 0;
padding: 0;
}
footer .tags ol li {
background-color: rgb(41, 40, 40);
display: inline;
padding: 5px;
}

footer  ol {
display: block;
}

footer ol li a {
color: #fff;
padding: 10px;
}
footer ol li a:hover {
color: #EDBB00;
text-decoration: none;
}
/* end css footer */

/* frameworks*/
.clr{
    color: #FFC20E;
}
.par{
    color: #9b9b9b;
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent,#FFC20E);
    border-radius: 6px;
}

@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    0%{
        transform: scale(1);
    }
    0%{
        transform: scale(1);
    }
    0%{
        transform: scale(1.3);
    }
}

.wow {
    opacity: 0;
    transition: all 0.5s 0.5s ease-out;
}
.animated {
    opacity: 1;
}
